.header-toolbar {
    position:sticky;
    z-index: 42;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 5px -5px #0a6ed1;
}

.ui5-logo {
    height: 2rem;
    margin-right: 1rem;
    margin-left: 2rem;
}