.app-bar-theming-popover {
	width: 250px;
}

.header-toolbar {
	position:sticky;
	z-index: 42;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 4px 5px -5px #0a6ed1;
}

.ui5-logo {
	height: 2rem;
	margin-right: 1rem;
	margin-left: 2rem;
}

.app-bar-profile-popover {
	width: 250px;
}

#settings-dialog {
	max-width: 300px;
}

.dialog-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.625rem;
	margin-bottom: -0.425rem;
}

.profile-settings, .help-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.profile-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
}

.app-header-logo {
	height: 2rem;
}

.profile-settings-list {
	margin-top: 1.25rem;
}

.help-dialog-text {
	font-size: 0.875rem;
}

.profile-rtl-switch {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

#header-title-align{
	margin: 1rem 0;
	gap: 0.225rem;
}

#header-logo-align {
	margin: 0.225rem 3.225rem 0.225rem 0;
	align-items: center;
	gap: 0.435rem;
}

#help-dialog::part(header){
	justify-content: flex-start;
}