.create-todo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #b3b3b3;
	box-sizing: border-box;
}

.add-todo-element-width {
	width: auto;
}

#add-input {
	flex: auto;
}

#date-picker {
	margin: 0 0.5rem 0 0.5rem;
}

@media(max-width: 600px) {
	.create-todo-wrapper {
		flex-direction: column;
	}

	.add-todo-element-width  {
		width: 100%;
	}

	#date-picker {
		margin: 0.5rem 0 0.5rem 0;
	}
}
