/* ============================= */
/* Base theme                    */
/* ============================= */
/* ============================= */
/* Global Base parameters        */
/* ============================= */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* ============================= */
/* Base theme                    */
/* ============================= */
:host(ui5-button) {
  display: inline-block;
  min-width: 2.25rem;
  height: 2.25rem;
}
:host(ui5-button[dir="rtl"]) .sapMBtn.sapMBtnWithIcon .sapMBtnText {
  margin-right: 0.375rem;
  margin-left: 0;
}
:host(ui5-button.sapUiSizeCompact) {
  height: 1.625rem;
  min-width: 2rem;
}
:host(ui5-button.sapUiSizeCompact) .sapWCIconInButton {
  font-size: 1rem;
}
ui5-button {
  display: inline-block;
  min-width: 2.25rem;
  width: auto;
  height: 2.25rem;
}
ui5-button.sapUiSizeCompact {
  height: 1.625rem;
  min-width: 2rem;
}
ui5-button.sapUiSizeCompact .sapWCIconInButton {
  font-size: 1rem;
}
.sapMBtn {
  width: 100%;
  height: 100%;
  font-family: "72", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0 0.5625rem;
  border-radius: 0.25rem;
  border-width: 0.0625rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #0a6ed1;
  color: #0a6ed1;
  text-shadow: 0 0 0.125rem #fff;
  outline: none;
  position: relative;
}
.sapMBtn .sapWCIconInButton {
  font-size: 1.375rem;
  position: relative;
}
.sapMBtn.sapMBtnIconLast {
  flex-direction: row-reverse;
}
.sapMBtn.sapMBtnIconLast .sapWCIconInButton {
  margin-left: 0.375rem;
}
.sapMBtn.sapMBtnNoText {
  padding: 0 0.5625rem;
}
.sapMBtnText {
  outline: none;
  position: relative;
}
.sapMBtn.sapMBtnWithIcon .sapMBtnText {
  margin-left: 0.375rem;
}
.sapMBtnDisabled {
  opacity: 0.5;
  pointer-events: none;
}
.sapMBtn:focus::after {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px dotted #000;
  position: absolute;
  top: 1px;
  left: 1px;
}
.sapMBtn::-moz-focus-inner {
  border: 0;
}
.sapMBtnActive,
.sapMBtn:active {
  background-image: none;
  background-color: #0854a0;
  border-color: #0854a0;
  color: #fff;
  text-shadow: none;
}
.sapMBtnActive:focus::after,
.sapMBtn:active:focus::after {
  border-color: #fff;
}
.sapMBtn.sapMBtnAccept {
  background-color: #fff;
  border-color: #107e3e;
  color: #107e3e;
  text-shadow: 0 0 0.125rem #fff;
}
.sapMBtn.sapMBtnAccept:hover {
  background-color: #fafafa;
  border-color: #107e3e;
}
.sapMBtn.sapMBtnAccept.sapMBtnActive,
.sapMBtn.sapMBtnAccept:active {
  background-color: #0d6733;
  border-color: #0d6733;
  color: #fff;
  text-shadow: none;
}
.sapMBtn.sapMBtnAccept.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnAccept:active:focus::after {
  border-color: #fff;
}
.sapMBtn.sapMBtnAccept:focus::after {
  border-color: #000;
}
.sapMBtn.sapMBtnReject {
  background-color: #fff;
  border-color: #bb0000;
  color: #bb0000;
  text-shadow: 0 0 0.125rem #fff;
}
.sapMBtn.sapMBtnReject:hover {
  background-color: #fafafa;
  border-color: #bb0000;
}
.sapMBtn.sapMBtnReject.sapMBtnActive,
.sapMBtn.sapMBtnReject:active {
  background-color: #a20000;
  border-color: #a20000;
  color: #fff;
  text-shadow: none;
}
.sapMBtn.sapMBtnReject.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnReject:active:focus::after {
  border-color: #fff;
}
.sapMBtn.sapMBtnReject:focus::after {
  border-color: #000;
}
.sapMBtn.sapMBtnEmphasized {
  background-color: #0a6ed1;
  border-color: #0a6ed1;
  color: #fff;
  text-shadow: 0 0 0.125rem transparent;
}
.sapMBtn.sapMBtnEmphasized:hover {
  background-color: #085caf;
  border-color: #085caf;
}
.sapMBtn.sapMBtnEmphasized.sapMBtnActive,
.sapMBtn.sapMBtnEmphasized:active {
  background-color: #0854a0;
  border-color: #0854a0;
  color: #fff;
  text-shadow: none;
}
.sapMBtn.sapMBtnEmphasized.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnEmphasized:active:focus::after {
  border-color: #fff;
}
.sapMBtn.sapMBtnEmphasized:focus::after {
  border-color: #000;
}
.sapMBtn.sapMBtnTransparent,
.sapMBtn.sapMBtnGhost {
  background-color: transparent;
  color: #0a6ed1;
  text-shadow: 0 0 0.125rem #fff;
  border-color: transparent;
}
.sapMBtn.sapMBtnTransparent:hover,
.sapMBtn.sapMBtnGhost:hover {
  background-color: rgba(224, 224, 224, 0.5);
}
.sapMBtn.sapMBtnTransparent.sapMBtnActive,
.sapMBtn.sapMBtnGhost.sapMBtnActive,
.sapMBtn.sapMBtnTransparent:active,
.sapMBtn.sapMBtnGhost:active {
  background-color: #0854a0;
  color: #fff;
  text-shadow: none;
}
.sapMBtn.sapMBtnTransparent:hover:not(:active),
.sapMBtn.sapMBtnGhost:hover:not(:active) {
  border-color: transparent;
}
.sapMBtn.sapMBtnGhost {
  border-color: rgba(10, 110, 209, 0.5);
}
.sapMBtn.sapMBtnGhost:hover {
  background-color: rgba(10, 110, 209, 0.2);
  border-color: rgba(10, 110, 209, 0.5);
}
.sapMBtn.sapMBtnGhost.sapMBtnActive,
.sapMBtn.sapMBtnGhost:active {
  background-color: #0854a0;
  border-color: #0854a0;
}
.sapMBtn.sapMBtnGhost:hover:not(:active) {
  border-color: #0854a0;
}
/* ============================= */
/* Global Belize parameters      */
/* ============================= */
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
/*
 UX COLOR SET
*/
/* PRIMARY COLORS */
/* ACCENT COLORS */
/* Semantic Background Colors */
/* Semantic Border Colors */
/* Semantic Foreground Elements */
/* Semantic Text */
/* Semantic Foreground Colors */
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
/*darken(@sapBrandColor, 10); // no contrast function allowed because background can be gradient*/
/* darken(@sapButton_Background, 30); //should be #ababab */
/* contrast(@sapButton_Background, darken(@sapHighlightColor, 10), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold); //should be #346187 */
