/* ============================= */
/* Base theme                    */
/* ============================= */
/* ========================================== */
/* CSS for control sap.m/GroupHeaderListItem  */
/* Base theme                                 */
/* ========================================== */
.sapMLIB.sapMGHLI {
  padding-top: 1rem;
  height: 3rem;
  line-height: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  color: #32363a;
  background: #fff;
  border-bottom: 1px solid #ededed;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.sapMLIB.sapMLIBTransparent.sapMGHLI {
  background: rgba(255, 255, 255, 0);
}
.sapMGHLI .sapMLIBUnread {
  display: none;
}
.sapMGHLIUpperCase {
  text-transform: uppercase;
}
.sapMGHLI > .sapMLIBContent {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.sapMGHLITitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sapMGHLI.sapMLIBActive.sapMLIB {
  color: #fff;
  background: #0854a0;
}
/* Compact size */
.sapUiSizeCompact .sapMGHLI {
  height: 2rem;
}
/* ============================= */
/* Global Belize parameters      */
/* ============================= */
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
/*
 UX COLOR SET
*/
/* PRIMARY COLORS */
/* ACCENT COLORS */
/* Semantic Background Colors */
/* Semantic Border Colors */
/* Semantic Foreground Elements */
/* Semantic Text */
/* Semantic Foreground Colors */
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
/*darken(@sapBrandColor, 10); // no contrast function allowed because background can be gradient*/
/* darken(@sapButton_Background, 30); //should be #ababab */
/* contrast(@sapButton_Background, darken(@sapHighlightColor, 10), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold); //should be #346187 */
