/* ============================= */
/* Base theme                    */
/* ============================= */
/* ============================= */
/* Global Base parameters        */
/* ============================= */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* ============================= */
/* Base theme                    */
/* ============================= */
:host(ui5-datepicker) {
  display: inline-block;
  width: 100%;
}
ui5-datepicker {
  display: inline-block;
  width: 100%;
}
/* ============================= */
/* Global Belize parameters      */
/* ============================= */
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
/*
 UX COLOR SET
*/
/* PRIMARY COLORS */
/* ACCENT COLORS */
/* Semantic Background Colors */
/* Semantic Border Colors */
/* Semantic Foreground Elements */
/* Semantic Text */
/* Semantic Foreground Colors */
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
