/* ============================= */
/* Base theme                    */
/* ============================= */
/* ============================= */
/* Global Base parameters        */
/* ============================= */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* ================================ */
/* CSS for control sap.m/InputBase  */
/* Base theme                       */
/* ================================ */
:host(ui5-input) {
  display: inline-block;
  width: 100%;
}
.sapMInputBase {
  height: 2.5rem;
  background: transparent;
  position: relative;
  display: inline-block;
  vertical-align: top;
  outline: none;
  box-sizing: border-box;
  line-height: 0;
}
.sapMInputBaseNoWidth {
  max-width: 100%;
}
.sapMInputBaseHeightMargin {
  margin: 0.25rem 0;
}
.sapMInputBaseInner {
  background: transparent;
  border: none;
  font-style: normal;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font-size: 0.875rem;
  font-family: "72", Arial, Helvetica, sans-serif;
  line-height: normal;
  padding: 0 0.75rem;
  height: 100%;
  box-sizing: border-box;
  flex: auto;
  min-width: 3rem;
  text-overflow: ellipsis;
}
.sapMInputBaseContentWrapper {
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  min-width: -moz-min-content;
  min-width: min-content;
}
.sapMInputBaseHasBeginIcons .sapMInputBaseInner {
  padding-left: 0.25rem;
}
.sapMInputBaseHasEndIcons .sapMInputBaseInner {
  padding-right: 0.25rem;
}
.sapUiIcon.sapMInputBaseIcon {
  width: 2.375rem;
  min-width: 2.375rem;
  height: 100%;
  line-height: 2.375rem;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sapMInputDescriptionWrapper {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.sapMFocus .sapMInputBaseContentWrapper::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  pointer-events: none;
  z-index: 1;
}
[data-sap-ui-wc-root][data-sap-ui-browser^="ie"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before,
[data-sap-ui-wc-root][data-sap-ui-browser^="ed"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 2px dashed #000;
  pointer-events: none;
  z-index: 1;
}
.sapMInputBaseInner::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-style: italic;
}
.sapMInputBaseInner::-moz-placeholder {
  font-size: 0.875rem;
  font-style: italic;
}
.sapMInputBaseInner:-ms-input-placeholder {
  font-size: 0.875rem;
  font-style: italic;
}
.sapMInputBaseInner {
  width: 100%;
}
.sapMInputBaseInner::-webkit-outer-spin-button,
.sapMInputBaseInner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sapMInputBaseInner:focus {
  outline: none;
  outline-width: 0;
}
/* remove user agent pseudo-element clear button (IE specifix) */
.sapMInputBaseInner::-ms-clear {
  /* note: don't use display: none; see BCP 1570024996 */
  height: 0;
}
.sapMPointer > .sapMInputBaseInner {
  cursor: pointer;
}
.sapMInputBaseDisabled {
  opacity: 0.5;
}
.sapMInputBaseDisabled .sapMInputBaseIcon {
  cursor: default;
}
.sapMInputBaseInner[placeholder] {
  text-overflow: ellipsis;
}
.sapMInputBaseInner::-webkit-input-placeholder {
  color: #757575;
  text-overflow: ellipsis !important;
  /* important is necessary to overwrite inline style of shadow dom */
}
.sapMInputBaseInner::-moz-placeholder {
  color: #757575;
}
.sapMInputBaseInner:-ms-input-placeholder {
  color: #757575;
}
input.sapMInputBaseInner:invalid {
  /* disable native browser input validation visualization e.g. for type email or number */
  box-shadow: none;
}
/*read only*/
.sapMInputBaseReadonly .sapMInputBaseContentWrapper {
  border-color: #cccccc;
  background: rgba(242, 242, 242, 0.5);
}
.sapMInputBaseInner:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):focus {
  border-color: #bfbfbf;
}
[data-sap-ui-wc-root][data-sap-ui-browser^="ie"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before,
[data-sap-ui-wc-root][data-sap-ui-browser^="ed"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
  border: 1px dashed #000;
}
.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):hover {
  background: #ffffff;
  border-color: #427cac;
}
.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):active {
  background: #ffffff;
  border-color: #427cac;
}
.sapMILI-CTX .sapMInputBaseContentWrapper,
.sapMILI-CTX .sapMInputBaseInner,
.sapMILI-CTX .sapMInputBaseDisabled .sapMInputBaseInner,
.sapMILI-CTX .sapMInputBaseReadonlyWrapper .sapMInputBaseInner {
  text-align: right;
  background: transparent;
}
.sapMLIBActive .sapMInputBaseInner {
  color: #fff;
  background: transparent;
}
.sapMLIBActive .sapMInputBaseInner::-webkit-input-placeholder {
  color: #fff;
}
/* Compact size */
.sapUiSizeCompact .sapMInputBase {
  line-height: 1rem;
  height: 1.625rem;
}
.sapUiSizeCompact .sapMInputBaseContentWrapper {
  height: 1.625rem;
}
.sapUiSizeCompact .sapMInputBaseInner {
  padding: 0 0.5rem;
  min-width: 2rem;
}
.sapUiSizeCompact .sapMInputBaseIcon {
  width: 2rem;
  min-width: 2rem;
  line-height: 1.5rem;
}
.sapUiSizeCompact .sapMInputBaseContentWrapper.sapMInputBaseContentWrapperState .sapMInputBaseIcon {
  line-height: 1.375rem;
}
.sapUiSizeCompact .sapMInputDescriptionWrapper span {
  line-height: 1.625rem;
}
.sapUiSizeCompact .sapMInputBaseHasEndIcons .sapMInputBaseInner {
  padding-right: 0.25rem;
}
.sapUiSizeCompact .sapMInputBaseHeightMargin {
  margin: 0.1875rem 0;
}
/* Condensed size */
.sapUiSizeCondensed .sapUiTableCell .sapMInputBase {
  height: 1.375rem;
  /* + 2*1px padding = 1.5rem */
  padding: 0 0.0625rem;
  /* 1px padding only */
}
.sapUiSizeCondensed .sapUiTableCell .sapMInputBaseHeightMargin {
  margin: 0;
}
.sapUiSizeCondensed .sapUiTableCell .sapMInputBaseInner:not(.sapMInputBaseContentWrapperState) {
  border-color: transparent;
}
.sapUiSizeCondensed .sapUiTableCell .sapMInputBaseContentWrapper {
  height: 1.375rem;
}
.sapUiSizeCondensed .sapUiTableCell .sapMInputDescriptionWrapper span {
  line-height: 1.375rem;
}
/* Input selection fix -
 * Due to the fact that the CSS parsing rules require dropping the whole rule when encountering an invalid
 * pseudo-element, two separate rules must be written */
.sapMInputBaseInner::selection,
.sapMInputBaseInner::-moz-selection {
  background: #427cac;
  color: #fff;
}
/* Google chrome and Safari input selection fix:
 * The browser renders the selection background with 50% opacity by default.
 * The solution is to use fade with a value for alpha 99 if it's set 100 the browser ignores it.
 */
[data-sap-ui-wc-root][data-sap-ui-browser^="sf"] .sapMInputBaseInner::selection,
[data-sap-ui-wc-root][data-sap-ui-browser^="cr"] .sapMInputBaseInner::selection {
  background: rgba(66, 124, 172, 0.99);
  color: rgba(255, 255, 255, 0.99);
}
[data-sap-ui-wc-root][data-sap-ui-browser^="ed"] .sapMInputBaseInner {
  line-height: 0;
}
.sapMInputBaseDisabled .sapMInputBaseInner::-webkit-input-placeholder {
  opacity: 0;
}
.sapMInputBaseDisabled .sapMInputBaseInner::-moz-placeholder {
  opacity: 0;
}
.sapMInputBaseDisabled .sapMInputBaseInner:-ms-input-placeholder {
  color: #ffffff;
}
[data-sap-ui-wc-root][data-sap-ui-browser^="ie"] .sapMFocus .sapMInputBaseDisabledWrapper::before {
  display: none;
  pointer-events: none;
}
.sapMInputBaseReadonly .sapMInputBaseInner::-webkit-input-placeholder {
  opacity: 0;
}
.sapMInputBaseReadonly .sapMInputBaseInner::-moz-placeholder {
  opacity: 0;
}
.sapMInputBaseReadonly .sapMInputBaseInner:-ms-input-placeholder {
  color: rgba(242, 242, 242, 0.5);
}
.sapMInputBaseDisabledWrapper .sapMInputBaseIcon {
  color: rgba(51, 51, 51, 0.5);
}
/* pressed */
.sapMInputBaseIconPressed .sapMInputBaseIcon,
[data-sap-ui-wc-root].sap-desktop .sapMInputBaseIconPressed .sapMInputBaseIcon:hover {
  background: #346187;
}
.sapMInputBaseIconPressed .sapMInputBaseIcon::before {
  color: #fff;
}
.sapMInputBaseIconPressed .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper) {
  border-color: #427cac;
}
/* ============================ */
/* CSS for control sap.m/Input  */
/* Base theme                   */
/* ============================ */
.sapMInputBase.sapMInput {
  display: inline-flex;
}
.sapMInputDescriptionText {
  padding-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
  color: #000;
  font-family: "72", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
}
.sapMDialog.sapMInputSuggestionPopup .sapMDialogScrollCont {
  padding: 0;
}
.sapMInputSuggestionTableHidden {
  display: none;
}
.sapMInputSuggestionPopup .sapMDLIValue {
  font-size: 0.875rem;
  color: #333333;
  padding-right: 1rem;
}
.sapMInputSuggestionPopup .sapMLIBActive .sapMDLIValue {
  color: #fff;
}
.sapMInputSuggestionPopup .sapMDLILabel {
  font-size: 0.875rem;
}
.sapMInputHighlight {
  font-weight: bold;
}
.sapUiIcon.sapMInputBaseIcon {
  width: 2.375rem;
  min-width: 2.375rem;
  height: 100%;
  line-height: 2.375rem;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ============================= */
/* Global Belize parameters      */
/* ============================= */
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
/*
 UX COLOR SET
*/
/* PRIMARY COLORS */
/* ACCENT COLORS */
/* Semantic Background Colors */
/* Semantic Border Colors */
/* Semantic Foreground Elements */
/* Semantic Text */
/* Semantic Foreground Colors */
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
/* ================================ */
/* CSS for control sap.m/InputBase  */
/* Belize theme                     */
/* ================================ */
.sapMInputBaseInner {
  color: #000;
}
.sapMInputBaseContentWrapper {
  border: 1px solid #bfbfbf;
  background: #ffffff;
}
.sapMInputBaseContentWrapper.sapMInputBaseContentWrapperState {
  border-width: 2px;
}
.sapMInputBaseContentWrapper.sapMInputBaseContentWrapperState .sapMInputBaseIcon {
  line-height: 2.25rem;
}
.sapMInputBaseIcon {
  color: #346187;
}
.sapMInputBaseIcon:hover {
  background: rgba(179, 179, 179, 0.5);
}
.sapMInputBaseIcon:active {
  background-color: #427cac;
  color: #fff;
}
.sapMInputBaseDisabledWrapper .sapMInputBaseIcon {
  color: rgba(51, 51, 51, 0.5);
  background-color: #f7f7f7;
}
.sapMInputBaseContentWrapperWarning {
  background: #ffffff;
  border-color: #f9a429;
}
.sapMInputBaseContentWrapperSuccess {
  background: #ffffff;
  border-color: #38a238;
}
.sapMInputBaseContentWrapperError {
  background: #ffffff;
  border-color: #ee0000;
}
.sapMInputBaseReadonlyWrapper,
.sapMInputBaseDisabledWrapper {
  background: rgba(242, 242, 242, 0.5);
}
.sapMFocus .sapMInputBaseContentWrapper::before {
  border: 1px dotted #000;
}
[data-sap-ui-wc-root][data-sap-ui-browser^="ie"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before,
[data-sap-ui-wc-root][data-sap-ui-browser^="ed"].sap-desktop .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
  border: 1px dashed #000;
}
/* ============================ */
/* CSS for control sap.m/Input  */
/* Belize theme                 */
/* ============================ */
/* suggestion popup */
div.sapMInputSuggestionPopup {
  border: none;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
}
/* ======================================= */
/* Additional styling for web components   */
/* ======================================= */
.sapMInputBaseContentWrapper {
  width: 100%;
}
